body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    font-family: Arial, sans-serif; */
    background-color: bisque;
  }
  
  /* Navbar styles */
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
  }
  img{
    width: 150px;
  }
  .btn a{
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    color:rgb(72, 72, 72);
    text-decoration: none;
    /* border: 2px solid black; */
  
    font-size: 20px;
    /* border-radius: 5px; */
    /* background-color: burlywood; */
  }
  .btn a:hover{
    color:black;
    transition: 0.5s;
    /* text-underline-offset: inherit; */
    text-decoration-line:underline;
    text-decoration-color: brown;
    text-decoration-thickness: calc(15%);
  }
  .auth button{
    margin-right: 20px;
    width: 6vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
  .auth button:hover{
    background-color: rgb(51, 49, 49);
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  /* home styles */
  
  .home{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin: 10vh;
  }
  
  .content{
    font-size: large;
    width: 45vw;
    color:hsl(180, 91%, 18%);
    /* padding: 20px; */
    line-height: 1.6;
  }
  .content h1{
    font-size: 50px;
    margin: 0;
    color: brown;
  }
  #work{
    margin-top: 50px;
    margin-right: 30px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    /* font-size: 20px; */
    width: 10vw;
    height: 6vh;
    text-align: center;
    border-radius: 5px;
    
  
  }
  #work:hover{
    background-color: rgb(51, 49, 49);
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  #resume{
    margin-top: 20px;
    margin-right: 30px;
    padding: 10px 20px;
    background-color: bisque;
    color: black;
    /* font-size: 20px; */
    width: 10vw;
    height: 6vh;
    text-align: center;
    border: 2px solid rgb(253, 247, 239);
    border-radius: 5px;
  }
  #resume:hover{
    background-color: rgb(233, 216, 191);
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
    border-color: black;
  }
  
  .img img{
    width: 30vw;
    border-radius: 50%;
    margin-right: 30px;
    border-style:groove;
  }